$leftPadding: 10rem;

/* --------------------------------------------------------------------------
  CATEGORY INTRO
-----------------------------------------------------------------------------*/
.category-intro {
  .callout-section {
    padding: 5rem 8rem;
    margin-bottom: 7rem;
    @include mobile-only {
      padding: 5rem 3rem;

    }
  }
}

/* --------------------------------------------------------------------------
  LIFESTYLE
-----------------------------------------------------------------------------*/
.blog-content {
  @include desktop-up {
    padding-left: $leftPadding;
  }
  h2 {
    color: $orange;
  }

}

/* COPY BLOCK ================== */
.copy-block {
  margin-bottom: 6rem;
  @include tablet-only {
    margin-bottom: 4rem;
  }
  @include mobile-only {
    margin-bottom: 4rem;
  }
}

.image-gallery + .copy-block {
  margin-top: 5rem;
  @include mobile-only {
    margin-top: 3.5rem;
  }
}

/* DROP CAPS ================== */
.drop-cap {
  p:first-child:first-letter {
    color: $lightBlueText;
    float: left;
    font-family: $superBoldItalic;
    font-size: 6.8rem;
    line-height: 0.85;
    padding-top: 0;
    margin-right: 4rem;
    padding-left: 1rem;
    border-bottom: 2px solid $lightBlueText;
    position: relative;
    top: -2rem;
  }
}

/* IMAGE GALLERY ROW ================== */
.image-gallery {
  .gallery-row {
    margin-bottom: 4rem;
    &:last-of-type {
      margin-bottom: 3rem;
    }
    @include tablet-up {
      &[class*="cols-"] {
        grid-column-gap: 2.4rem;
      }
    }
  }
  .interior-captions {
    margin-top: 2.5rem;
  }
  [class*="cols-"] {
    @include tablet-up {
      grid-column-gap: 4rem;
    }
  }
  p {
    display: inline-block;
  }
}

/* SINGLE IMAGE BLOCK ================== */
.single-image-block {
  width: 100%;
  margin-bottom: 5rem;
  @include mobile-only {
    margin-bottom: 4rem;
  }
  img {
    margin-bottom: 3rem;
  }
}

/* BEFORE / AFTER BLOCK ================== */
.before-after-block {
  margin-bottom: 8rem;
  @include mobile-only {
    margin-bottom: 4.5rem;
  }
  &.cols-2 {
    @include tablet-up {
      grid-column-gap: 2.4rem;
    }
  }
  &.stacked > div:last-of-type {
    margin-top: 4rem;
  }
  h2 {
    font-family: $superMedItalic;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 4rem;
  }
  img {
    width: 100%;
    margin-bottom: 2rem;
  }
}

/* Q & ANSWER BLOCK - GENERAL ================== */
.qa-block {
  margin-bottom: 7rem;
  h5 {
    @extend %smallCaps;
    margin-bottom: 1rem;
  }
}

/* Q & ANSWER BLOCK - QUESTION ================== */
.qa-block {
  &.question_block {
    color: $green;
    h5 {
      color: $green;
    }
    .desc {
      font-family: $superMed;
      font-size: 2.4rem;
      line-height: 1.416;
    }
  }
}
/* Q & ANSWER BLOCK - ANSWER ================== */
.qa-block {
  &.answer_block,
  .answer {
    h5 {
      color: $gold;
    }
  }
}

/* Q & ANSWER BLOCK - DISCUSSION ================== */
.qa-block {
  &.qa_blocks {
    display: flex;
    h5 {
      width: 11%;
      padding-top: 0.8rem;
      border-top: 4px solid $gold;
    }
    .desc {
      width: 88%;
      padding-left: 2rem;
    }
  }
}

.qa-block.answer {
  h5 {
    color: $green;
    border-top: 4px solid $green;
  }
}

.qa-block + .quote.layout-center {
  padding-top: 8rem;
}

/* STEP BLOCK ================== */
.step-block {
  display: flex;
  border-top: 4px solid $brown;
  padding-top: 5.5rem;
  @include mobile-only {
    padding-top: 3.4rem;
  }
  .unit-and-index {
    width: 10rem;
    text-align: center;
    padding-right: 1rem;
  }
  .step-unit {
    @extend %xsCaps;
    margin-bottom: 0.8rem;
    @include tablet-up {
      font-size: 1.1rem;
    }

  }
  .step-index {
    font-size: 4.4rem;
    @include mobile-only {
      font-size: 2.2rem;
    }
  }
  .text-content {
    width: calc(100% - 11rem);
  }

  .step-index,
  .step-unit {
    color: $orange;
  }
  .step-index {
    font-family: $headingFont;
  }

}

.step-block {
  .image-wrapper {
    margin-bottom: 2rem;
    margin-top: 4rem;
  }
  img {
    width: 100%;
    max-width: unset;
    display: block;
  }
  .caption {
    margin-bottom: 6.6rem;
  }
}

/* PULLOUT QUOTE ================== */
.circle-image {
  border-radius: 100%;
  overflow: hidden;
  height: 0;
  position: relative;
  transform: scale(0);
  transition: all 0.4s ease-in-out;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.js-loading {
  opacity: 0;
}

.split-line-mask {
  overflow: hidden;
  [class*="split-line"] {
    transform: translateY(102%);
    transition: all 0.6s ease-in-out;
  }
}

.js-animate {
  .circle-image {
    transform: none;
  }
  [class*="split-line"] {
    transform: none;
  }
  .split-line-2 {
    transition-delay: 0.2s;
  }
  .split-line-3 {
    transition-delay: 0.3s;
  }
  .split-line-4 {
    transition-delay: 0.4s;
  }
  .split-line-5 {
    transition-delay: 0.5s;
  }
  .split-line-6 {
    transition-delay: 0.6s;
  }
  .split-line-7 {
    transition-delay: 0.7s;
  }
  .split-line-8 {
    transition-delay: 0.8s;
  }
  .split-line-9 {
    transition-delay: 0.9s;
  }
  .split-line-10 {
    transition-delay: 1.0s;
  }
  .split-line-11 {
    transition-delay: 1.1s;
  }
  .split-line-12 {
    transition-delay: 1.2s;
  }
  .split-line-13 {
    transition-delay: 1.3s;
  }
  .split-line-14 {
    transition-delay: 1.4s;
  }
}

.quote {
  position: relative;
  color: $orange;
  .desc-large {
    font-size: 2.4rem;
    font-weight: 400;
    font-family: $superMed;
    line-height: 1.416;
    @include mobile-only {
      font-size: 1.8rem;
    }
  }
}

/* QUOTE - CENTER ================== */
.quote.layout-center {
  padding-top: 18rem;
  padding-bottom: 14rem;
  text-align: center;
  .circle-image {
    width: 14.4rem;
    padding-bottom: 14.4rem;
    top: 0;
    right: 2rem;
    position: absolute;
    @include mobile-only {
      width: 10rem;
      padding-bottom: 10rem;
    }
  }
  .desc-large {
    font-size: 3.4rem;
    position: relative;
    @include mobile-only {
      font-size: 2.1rem;

    }
  }
  .quote-bottom,
  .quote-top {
    font-size: 8rem;
    font-family: $walsheimReg;
    position: absolute;
    left: 50%;

  }
  .quote-top {
    top: 0;
    transform: translate(-50%, -77%);
  }
  .quote-bottom {
    bottom: -2rem;
    transform: translate(-50%, 100%);
  }
}

/* QUOTE - RIGHT ================== */
.quote.layout-right {
  padding-top: 7rem;
  padding-bottom: 10rem;
  @include mobile-only {
    padding-top: 8rem;
    padding-bottom: 7rem;
  }
  .circle-image {
    width: 12rem;
    padding-bottom: 12rem;
    top: 0;
    left: -2rem;
    position: absolute;
    @include mobile-only {
      left: -1rem;
      width: 8rem;
      padding-bottom: 8rem;
    }
  }
  .desc-large {
    max-width: 47.4rem;
    margin-left: auto;
    padding-top: 1rem;
    border-top: 4px solid $orange;
    @include mobile-only {
      max-width: 75%;
      margin-left: auto;
    }
  }
}

/* QUOTE - LEFT ================== */
.quote.layout-left {
  padding-top: 7rem;
  padding-bottom: 10rem;
  @include mobile-only {
    padding-bottom: 13rem;
  }
  .circle-image {
    width: 20rem;
    padding-bottom: 20rem;
    right: -3rem;
    bottom: 6rem;
    position: absolute;
    @include mobile-only {
      right: -1rem;
      width: 11rem;
      padding-bottom: 11rem;
    }
  }
  .desc-large {
    max-width: 47.4rem;
    padding-top: 1rem;
    border-top: 4px solid $orange;
    @include mobile-only {
      max-width: 80%;

    }
  }
}

/* --------------------------------------------------------------------------
  POST - Island Hopping
-----------------------------------------------------------------------------*/
.post-island-hopping-qampa .blog-content,
.postid-179 .blog-content {
  h2 {
    @extend .h3;
    color: $gold;
  }
  .single-image-block {
    position: relative;
    margin-bottom: 5rem;
    @include mobile-only {
      margin-bottom: 4rem;
    }
  }
  .quote {
    color: $gold;
    padding-top: 4rem;

  }
}

/* --------------------------------------------------------------------------
  POST - ADVICE
-----------------------------------------------------------------------------*/
.post-advice {
  .quote {
    color: $green;
    padding-top: 2rem;
    padding-bottom: 6rem;
    .desc-large {
      font-size: 2.4rem;
      max-width: 47rem;
      margin-left: auto;
      margin-right: auto;
      border-top: 4px solid $green;
      padding-top: 1rem;
      @include mobile-only {
        font-size: 1.8rem;
      }
    }
    .quote-bottom,
    .quote-top {
      display: none;
    }
  }
}

/* --------------------------------------------------------------------------
  POST - WALKTHROUGH
-----------------------------------------------------------------------------*/

.post-walkthrough,
.postid-137 {}

/* --------------------------------------------------------------------------
POST - RECIPE & DIY
-----------------------------------------------------------------------------*/
.post-diy,
.post-recipe {
  .blog-content {
    padding-left: 0;
  }
  .copy-block {
    padding-left: $leftPadding;
    @include mobile-only {
      padding-left: 0;
    }
  }
}

.post-diy {
  .blog-content {
    h2 {
      color: $gold;
    }
  }

  .steps-header {
    display: none;
  }
  .step-index,
  .step-unit {
    color: $brown;
  }
  .image-gallery,
  .single-image-block {
    padding-left: $leftPadding;
    margin-top: 4rem;
    @include mobile-only {
      padding-left: 0;
    }
  }
}

/* --------------------------------------------------------------------------
  MORE STORIES
-----------------------------------------------------------------------------*/
.must-haves {
  text-align: left;
  padding-top: 0;

  @include mobile-only {
    text-align: center;
  }
  .category-row {
    display: none;
  }
  .post-card .text-content {
    h2 {
      width: 100%;
    }
  }
  .bg-image {
    background-size: cover;
  }
  .cols-3 .post-thumb {
    padding-bottom: 100%;
  }
  .more-more-more {
    @include tablet-up {
      display: flex;
      justify-content: space-between;
      text-align: left;
    }
    @include mobile-only {
      margin-bottom: 2rem;
    }
  }
  .more-text {
    font-size: 1.6rem;
    font-family: $superMed;
    line-height: 1.5;
    @include tablet-up {
      padding-right: 2rem;
      flex-grow: 1;
    }
    @include mobile-only {
      display: block;
    }
  }

}

.more-stories-section {
  @include mobile-only {
    padding-top: 5rem;
  }
  .inner {
    border-top: 0.4rem solid $brown;
    padding-top: 7.8rem;
    @include mobile-only {
      padding-top: 5rem;
    }
  }
  .h1 {
    margin-bottom: 7.5rem;
    @include mobile-only {
      margin-bottom: 5rem;
    }
  }
}

/* --------------------------------------------------------------------------
  AUTHOR BLOCK
-----------------------------------------------------------------------------*/
.author-block {
  .inner {
    border: 0.6rem solid #EAEBE6;
    padding: 4.5rem 6rem;
    max-width: 108rem;
    margin-left: auto;
    margin-right: auto;
    @include mobile-only {
      padding: 4rem 3rem;
    }
  }
  h5 {
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: 0.6rem;
    font-family: $walsheimBold;
  }
  h3 {
    font-family: $superMedItalic;
    font-size: 2.4rem;
    margin-bottom: 1.8rem;
    @include mobile-only {
      margin-bottom: 1.2rem;
    }
  }
  .social-link {
    margin-bottom: 2.6rem;
    a {
      font-size: 2.4rem;
      font-family: $superMed;

    }
  }
}
