/* --------------------------------------------------------------------------
  CATEGORY
-----------------------------------------------------------------------------*/
.page-category {
  .category-intro,
  .thumbs-wrapper {
    padding-top: 5rem;
  }
  .category-intro .callout-section {
    margin-bottom: 0;
  }
  .entry-title {
    padding-top: 8rem;
    text-align: center;
    @include mobile-only {
      padding-top: 4rem;
    }
  }
}

.load-more-row {
  text-align: center;
  margin-bottom: 8.6rem;
  .load-more-posts {
    font-size: 4.6rem;
    color: $lightBlue;
    font-family: $superMed;
    @include mobile-only {
      font-size: 2rem;
    }
  }
}
