/* --------------------------------------------------------------------------
  HERO SLIDESHOW
-----------------------------------------------------------------------------*/
.masthead-slideshow {
  .masthead-slide-wrapper {
    height: 82vh;
    width: 100%;
    max-height: 86.8rem;
    min-height: 65rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
    position: relative;
    @include mobile-only {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
  .overlay-bg {
    background: rgba(#7D756C, .4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
  }
  .text-content {
    position: relative;
    z-index: 3;
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
  }
  h1 {
    font-size: 6.8rem;
    font-family: $superBold;
    margin-bottom: 3rem;

    @include mobile-only {
      margin-bottom: 2.5rem;
    }
    em {
      font-family: $superBoldItalic;
    }
  }
  h2 {
    margin-bottom: 3rem;
  }
  .desc-sans {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  button svg {
    width: 8.2rem;
    display: block;
    margin-top: 5.5rem;
    @include mobile-only {
      margin-top: 2.5rem;
    }
  }
}

.swiper-container-progress-bar {
  .progress-bars {
    position: absolute;
    bottom: 4.8rem;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 12rem);
    z-index: 3;
    display: flex;
    justify-content: space-between;
    .progress-bar {
      background: rgba(#F7F4EC, .5);
      height: 0.335rem;
      position: relative;
      .progress {
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
        background: #F7F4EC;
      }
    }
  }
}

/* --------------------------------------------------------------------------
  HOME SECTIONS
-----------------------------------------------------------------------------*/
.top-stories-section {
  @extend %secondarySection;
  text-align: center;
  h3 {
    margin-bottom: 7.6rem;
    @include mobile-only {
      margin-bottom: 3.5rem;
    }
  }
}

/* --------------------------------------------------------------------------
  POST CARDS
-----------------------------------------------------------------------------*/
.post-card {
  text-align: center;
  .category-row {
    @extend .small-caps;
    text-align: center;
    margin-bottom: 2.3rem;
    line-height: 1.4;
    a {
      color: $orange;
    }
  }

  .text-content {
    max-width: 37.8rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.post-card {
  .post-thumb {
    position: relative;
    margin-bottom: 5rem;
    display: block;
    width: 100%;
    padding-bottom: 56.1%;
    height: 0;
  }
}
.cols-3 .post-thumb {
  @include desktop-up {
    padding-bottom: 70%;
  }
}

/* IMAGE LEFT THUMB ================== */
.post-card.img-left {
  @include tablet-up {
    text-align: left;
    display: flex;
    justify-content: space-between;

    .post-thumb {
      margin-bottom: 0;
      padding-bottom: 67%;
    }
    .category-row {
      text-align: left;
      padding: 0;
    }
    h2 {
      margin-left: 0;
    }
    .desc,
    h2 {
      max-width: 85%;
    }
    .thumb-wrapper {
      width: calc(66% - 6rem);
    }
    .text-content {
      @extend .v-aligner;
      width: 33%;
    }
  }
}
