/* --------------------------------------------------------------------------
  SIDEBAR
-----------------------------------------------------------------------------*/
.sidebar .spacer {
  margin-bottom: 5.4rem;
  @include mobile-only {
    margin-bottom: 3rem;
  }
}

/* --------------------------------------------------------------------------
  SIDEBAR
-----------------------------------------------------------------------------*/
.sidebar .share {
  text-align: center;
  h5 {
    margin-bottom: 4.6rem;
  }
}

/* --------------------------------------------------------------------------
  SIDEBAR - POPULAR POSTS
-----------------------------------------------------------------------------*/
.sidebar .popular-posts {
  ol {
    list-style-type: decimal;
    color: $orange;
    font-size: 3.4rem;
    font-family: $superBold;
    font-weight: normal;
    @include mobile-only {
      padding-left: 4rem;
    }
    li {
      margin-bottom: 5rem;
      @include mobile-only {
        margin-bottom: 3rem;
      }
    }
    li a {
      color: $brown;
      font-size: 1.6rem;
      line-height: 1.56;
      padding-left: 2rem;
      display: block;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/* --------------------------------------------------------------------------
  SIDEBAR
-----------------------------------------------------------------------------*/
.sidebar .follow {
  text-align: center;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  a {
    padding-left: 2rem;
    padding-right: 2rem;
    &:hover {
      img {
        transform: scale(1.05);
      }
    }
  }
  a:first-of-type {
    padding-left: 0;
  }
  a:last-of-type {
    padding-right: 0;
  }
  img {
    width: 4rem;
    transition: all 0.3s ease-in-out;
  }
}
