/* --------------------------------------------------------------------------
  GENERAL
-----------------------------------------------------------------------------*/
.masthead {
  padding-top: 8rem;
  padding-bottom: 8rem;
  text-align: center;
  @include mobile-only {
    padding-bottom: 5rem;
  }
}

.post-walkthrough {
  &.masthead {
    padding-top: 6rem;
  }

}

/* FEATURED ICON ================== */
.featured-image {
  position: relative;
  .featured-icon {
    position: absolute;
    width: 9rem;
    z-index: 2;
    animation: 30s rotate linear forwards infinite;
    right: 2.5rem;
    top: 3rem;
    @include mobile-only {
      width: 4.5rem;
      top: 1rem;
    }
  }
  .corner-icon {
    width: 16.8rem;
    position: absolute;
    top: 0;
    right: 0;
    @include mobile-only {
      width: 8rem;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);

  }
}

.post-walkthrough {
  .featured-icon {
    right: 3rem;
    @include mobile-only {
      right: 1rem;
    }
  }
  .corner-icon {
    display: none;
  }
}

.post-essay {
  .featured-icon {
    right: 2.5rem;
    @include mobile-only {
      right: 1rem;
    }
  }
  .corner-icon {
    top: 0;
    right: 0;
  }
}

.post-advice {
  .featured-icon {
    left: 2.5rem;
    right: auto;
    @include mobile-only {
      left: 1rem;
    }
  }
  .corner-icon {
    top: 0;
    left: -.05rem;
    right: auto;
    transform: scaleX(-1);
  }
}

/* --------------------------------------------------------------------------
  BANNER
-----------------------------------------------------------------------------*/
.banner-image {
  position: relative;
  .image-mask {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

.post-diy,
.post-lifestyle,
.post-walkthrough {
  .featured-image {
    max-width: 72rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.post-illustration {
  .featured-image {
    max-width: 68rem;
    margin-left: auto;
    margin-right: auto;
  }
}

/* --------------------------------------------------------------------------
  CATEGORY
-----------------------------------------------------------------------------*/
.masthead .category-row {
  margin-bottom: 4.8rem;
  position: relative;
  @include mobile-only {
    margin-bottom: 1.8rem;
  }
  a {
    @extend %smallCaps;
  }
}

/* --------------------------------------------------------------------------
  PREV AND NEXT ARTICLE BUTTONS
-----------------------------------------------------------------------------*/
.article-navigation {
  position: absolute;
  top: 0;
  text-align: center;
  color: #E6E7E8;
  text-transform: none;
  img {
    width: 4.33rem;
    display: block;
    margin-bottom: 1.8rem;
    @include mobile-only {
      width: 3rem;
    }
  }
  &.prev-arrow {
    left: -.75rem;
    transform: translateX(-100%);
    @include mobile-only {
      left: 0;
      transform: translateY(-100%);
    }

    img {
      transform: scaleX(-1);
    }
  }
  &.next-arrow {
    right: -.75rem;
    transform: translateX(100%);
    @include mobile-only {
      right: 0;
      transform: translateY(-100%);
    }

  }

}

/* --------------------------------------------------------------------------
  TITLE
-----------------------------------------------------------------------------*/
.masthead .main-heading {
  max-width: 86.4rem;
  margin-left: auto;
  margin-right: auto;
}

.masthead {
  &.post-advice {
    .main-heading {
      @extend .container-md;
      margin-top: 7rem;
      @include tablet-up {
        text-align: left;
      }
      @include mobile-only {
        margin-top: 2rem;
      }
    }
  }
}

/* --------------------------------------------------------------------------
  AUTHOR
-----------------------------------------------------------------------------*/
.masthead .author {
  color: $orange;
  margin-bottom: 4rem;
  @include mobile-only {
    margin-bottom: 1.4rem;
  }
}

/* --------------------------------------------------------------------------
  CAPTION
-----------------------------------------------------------------------------*/
.masthead .caption {
  max-width: 60.4rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4.8rem;
  @include mobile-only {
    margin-bottom: 1.8rem;
  }
}
/* --------------------------------------------------------------------------
  IMAGE / VIDEO
-----------------------------------------------------------------------------*/
.masthead {
  .featured-image {
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .featured-image + .featured-caption {
    margin-top: 3.2rem;
    @include mobile-only {
      margin-top: 1.2rem;
    }
  }
  .featured-caption {
    @extend .container-xs;
  }
}

/* CATEGORY-SPECIFIC STYLES ================== */
.masthead {
  .credit-row + .featured-image-wrapper {
    margin-top: 7.4rem;
    @include mobile-only {
      margin-top: 2.4rem;
    }
  }
  &.post-diy,
  &.post-lifestyle,
  &.post-walkthrough {
    .featured-image-wrapper,
    .featured-video-wrapper {
      @extend .container-md;
    }
  }
  &.post-essay {
    .featured-caption {
      @extend .container-md;
      text-align: left;
    }
  }
  &.post-recipe {
    .featured-image-wrapper,
    .featured-video-wrapper {
      @extend .container-xs;
    }
  }

}

/* --------------------------------------------------------------------------
  CREDITS
-----------------------------------------------------------------------------*/
.masthead {
  .credit-row {
    text-align: left;
    color: $slate;
    line-height: 1;
    @include mobile-only {
      font-size: 1rem;
    }
    .date {
      @include tablet-up {
        padding-right: 3.6rem;
      }
    }
    .credit {
      @include tablet-up {
        padding-right: 3.6rem;
        padding-left: 3.6rem;
        border-left: 1px solid $slate;
      }
    }
    .credit,
    .date {
      @include mobile-only {
        display: block;
        margin-bottom: 0.8rem;
        text-align: center;
      }
    }
  }
}

/* CATEGORY-SPECIFIC STYLES ================== */
.masthead {
  .featured-image-wrapper + .credit-row {
    margin-top: 9rem;
    @include mobile-only {
      margin-top: 3.2rem;
    }
  }

  .caption + .credit-row {
    text-align: center;
  }
  &.post-diy,
  &.post-lifestyle,
  &.post-recipe,
  &.post-walkthrough {
    .credit-row {
      @extend .container-md;
    }
  }
  &.post-diy {
    .credit-row {
      margin-top: 9.6rem;
      @include mobile-only {
        margin-top: 4rem;
      }
    }
  }
}

.post-illustration {
  .credit-row .date {
    padding-right: 0;
    + a {
      padding-left: 3.6rem;
    }
  }
}

/* --------------------------------------------------------------------------
  ADVICE
-----------------------------------------------------------------------------*/
.masthead {
  &.post-advice {
    .author,
    .caption,
    .credit-row,
    .main-heading {
      @extend .container-md;
      @include tablet-up {
        text-align: left;
      }

    }
  }
}

/* --------------------------------------------------------------------------
  CONTRIBUTORS
-----------------------------------------------------------------------------*/
.contributor-row {
  margin-bottom: 3rem;
  @include mobile-only {
    margin-bottom: 4.5rem;
  }
  &:first-of-type {
    margin-top: 6.5rem;
  }

  .text-content {
    padding-left: 3rem;
    padding-right: 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  h2 {
    margin-bottom: 3rem;
    @include mobile-only {
      margin-bottom: 1rem;
    }
  }
  h5 {
    @include mobile-only {
      margin-bottom: 2rem;
    }
  }
  h2,
  h5 {
    color: $gold;
    max-width: 21.8rem;
    margin-left: auto;
    margin-right: auto;
  }

  &:nth-of-type(even) {
    h2,
    h5 {
      color: $darkGrey;

    }
  }
}

/* FLEX ALTERNATING ROWS ================== */
.contributor-row {
  @include tablet-up {
    display: flex;
    > div:first-of-type {
      width: 57%;
    }
    > div:last-of-type {
      width: 43%;
    }
    &:nth-of-type(even) {
      flex-direction: row-reverse;
    }
  }
  @include mobile-only {
    flex-direction: column-reverse;
    display: flex;
  }
}

/* IMAGES WITH BG SHAPES ================== */
.bg-shape-wrapper {
  overflow: hidden;
  position: relative;
  padding-bottom: 5.4rem;
  img {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
  }
  .bg-shape {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 80%;
  }
}

.contributor-row {
  &:nth-of-type(even) {
    .bg-shape {
      right: auto;
      left: 0;
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      path {
        fill: $darkGrey;
      }
    }
  }
}

/* --------------------------------------------------------------------------
  TOOLS
-----------------------------------------------------------------------------*/
.tools-box {
  margin: 6.5rem 4rem;
  border: 0.6rem solid #EAEBE6;
  padding: 5rem 6rem;
  color: $brown;
  @include mobile-only {
    padding: 5rem 3rem 3rem;
    margin: 6.5rem 0;
    border: 0.3rem solid #EAEBE6;
  }
  h2 {
    margin-bottom: 5rem;
    @include mobile-only {
      margin-bottom: 3rem;
    }
  }
  .desc-large {
    font-family: $headingFont;
    font-size: 4.6rem;
    margin-bottom: 1rem;
    @include mobile-only {
      font-size: 3rem;
    }

  }
  .tools-grid {
    @include tablet-up {
      display: flex;
      justify-content: space-between;
    }

  }
  .tool {
    @include mobile-only {
      margin-bottom: 2.4rem;
      padding-bottom: 2.4rem;
      border-bottom: 0.3rem solid #EAEBE6;
    }
    &:last-of-type {
      border-bottom: 0;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}
