/* compiled by scssphp v0.7.6 on Mon, 04 May 2020 23:38:44 +0000 (0.3271s) */

/* http://meyerweb.com/eric/tools/css/reset/
 v2.0 | 20110126
 License: none (public domain)
 */
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }
/*-----------------------------------------------------------
 Images
 -------------------------------------------------------------*/
img {
  display: block;
  max-width: 100%;
  height: auto; }

.imgSrc50Hero {
  width: 100%; }

img.imgSrcLoad {
  opacity: 0; }

img.imgSrc50, img.lazy-load {
  opacity: 0;
  width: 100%;
  position: relative;
  z-index: 1; }

img.imgSrcLoadOn {
  opacity: 1;
  height: auto;
  -moz-transition: opacity 1s ease-out;
  -o-transition: opacity 1s ease-out;
  -webkit-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out; }
/*-----------------------------------------------------------
 Background Images
 -------------------------------------------------------------*/
div.imgSrc50 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s; }

div.imgSrc50.loaded {
  opacity: 1; }

.bgFadeImage {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.bgFadeImage.loaded {
  opacity: 1; }

.bg-img--full-height {
  height: calc(100vh - 174px);
  max-height: 752px;
  min-height: 550px;
  background-position: center top; }
/*-----------------------------------------------------------
 Responsive Videos
 -------------------------------------------------------------*/
.video-wrapper {
  position: relative;
  padding-bottom: 56.3%;
  height: 0;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  margin-bottom: 2rem; }
  .video-wrapper .placeholder {
    z-index: 1; }
  .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    width: 100%;
    height: 100%;
    z-index: 2; }
  .video-wrapper .video-play-button {
    background: rgba(38, 57, 88, 0.85);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    transition: opacity 0.3s ease-in-out; }
  .video-wrapper.playing .video-play-button {
    opacity: 0;
    pointer-events: none; }
/* --------------------------------------------------------------------------
 Hosted Fonts
 -----------------------------------------------------------------------------*/
@font-face {
  font-family: 'GT Super Display Bold';
  src: url("../fonts/GTSuperDisplayTrial-Bold.woff2") format('woff2'), url("../fonts/GTSuperDisplayTrial-Bold.woff") format('woff'), url("../fonts/GTSuperDisplayTrial-Bold.ttf") format('truetype'), url("../fonts/GTSuperDisplayTrial-Bold.eot") format('embedded-opentype'); }

@font-face {
  font-family: 'GT Super Display Bold Italic';
  src: url("../fonts/GTSuperDisplayTrialBold-Italic.woff2") format('woff2'), url("../fonts/GTSuperDisplayTrialBold-Italic.woff") format('woff'), url("../fonts/GTSuperDisplayTrialBold-Italic.ttf") format('truetype'), url("../fonts/GTSuperDisplayTrialBold-Italic.eot") format('embedded-opentype'); }

@font-face {
  font-family: 'GT Super Display Medium';
  src: url("../fonts/GTSuperDisplayTrial-Medium.woff2") format('woff2'), url("../fonts/GTSuperDisplayTrial-Medium.woff") format('woff'), url("../fonts/GTSuperDisplayTrial-Medium.ttf") format('truetype'), url("../fonts/GTSuperDisplayTrial-Medium.eot") format('embedded-opentype'); }

@font-face {
  font-family: 'GT Super Display Regular';
  src: url("../fonts/GTSuperDisplayTrial-Regular.woff2") format('woff2'), url("../fonts/GTSuperDisplayTrial-Regular.woff") format('woff'), url("../fonts/GTSuperDisplayTrial-Regular.ttf") format('truetype'), url("../fonts/GTSuperDisplayTrial-Regular.eot") format('embedded-opentype'); }

@font-face {
  font-family: 'GT Super Display Regular Italic';
  src: url("../fonts/GTSuperDisplayTrialRegular-Italic.woff2") format('woff2'), url("../fonts/GTSuperDisplayTrialRegular-Italic.woff") format('woff'), url("../fonts/GTSuperDisplayTrialRegular-Italic.ttf") format('truetype'), url("../fonts/GTSuperDisplayTrialRegular-Italic.eot") format('embedded-opentype'); }

@font-face {
  font-family: 'GT Walsheim Regular';
  src: url("../fonts/GTWalsheimProTrial-Regular.woff2") format('woff2'), url("../fonts/GTWalsheimProTrial-Regular.woff") format('woff'), url("../fonts/GTWalsheimProTrial-Regular.ttf") format('truetype'), url("../fonts/GTWalsheimProTrial-Regular.eot") format('embedded-opentype'); }

@font-face {
  font-family: 'GT Walsheim Regular Italic';
  src: url("../fonts/GTWalsheimProTrial-RegularOblique.woff2") format('woff2'), url("../fonts/GTWalsheimProTrial-RegularOblique.woff") format('woff'), url("../fonts/GTWalsheimProTrial-RegularOblique.ttf") format('truetype'), url("../fonts/GTWalsheimProTrial-RegularOblique.eot") format('embedded-opentype'); }

@font-face {
  font-family: 'GT Walsheim Bold';
  src: url("../fonts/GTWalsheimProTrial-Bold.woff2") format('woff2'), url("../fonts/GTWalsheimProTrial-Bold.woff") format('woff'), url("../fonts/GTWalsheimProTrial-Bold.ttf") format('truetype'), url("../fonts/GTWalsheimProTrial-Bold.eot") format('embedded-opentype'); }

@font-face {
  font-family: 'GT Walsheim Bold Italic';
  src: url("../fonts/GTWalsheimProTrial-BoldOblique.woff2") format('woff2'), url("../fonts/GTWalsheimProTrial-BoldOblique.woff") format('woff'), url("../fonts/GTWalsheimProTrial-BoldOblique.ttf") format('truetype'), url("../fonts/GTWalsheimProTrial-BoldOblique.eot") format('embedded-opentype'); }
/* --------------------------------------------------------------------------
 Fonts
 -----------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------
 Colors
 -----------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------
 Font Sizes
 -----------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------
 Font Styles
 -----------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------
 Mixins
 -----------------------------------------------------------------------------*/
.callout-section {
  background-color: #f7f5f1;
  color: #432f21; }
  .callout-section a {
    color: #432f21; }
/* --------------------------------------------------------------------------
 Responsive Mixins
 -----------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------
 Hide / Show
 -----------------------------------------------------------------------------*/
.hide-mobile {
  display: none; }
  @media (max-width: 768px) {
  .hide-mobile {
    display: block; } }

@media (max-width: 768px) {
    .show-mobile {
      display: none; } }
/* --------------------------------------------------------------------------
 Typography
 -----------------------------------------------------------------------------*/
html {
  font-size: 10px;
  font-size: 0.6944444444vw; }

body {
  background-color: #fff;
  font-family: 'GT Walsheim Regular', sans-serif;
  font-size: 1.6rem;
  color: #302219;
  line-height: 1.2;
  letter-spacing: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased; }
  @media (max-width: 768px) {
  body {
    font-size: 1.6rem; } }
/* --------------------------------------------------------------------------
 Anchors
 -----------------------------------------------------------------------------*/
a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease-in-out; }

a:active, a:hover {
  color: inherit; }
/* --------------------------------------------------------------------------
 Headings
 -----------------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  font-family: 'GT Super Display Medium', serif;
  font-weight: normal;
  font-style: normal; }

.h1, h1 {
  font-size: 4.6rem;
  line-height: 1.217;
  margin-bottom: 3.33rem; }
  @media (max-width: 768px) {
  .h1, h1 {
    margin-bottom: 1.4rem;
    font-size: 2.6rem; } }

.h2, h2 {
  font-size: 3.4rem;
  line-height: 1.176;
  margin-bottom: 4rem; }
  @media (max-width: 768px) {
  .h2, h2 {
    margin-bottom: 1.4rem;
    font-size: 2.1rem; } }

/* --------------------------------------------------------------------------
 Rules
 -----------------------------------------------------------------------------*/

hr {
  border: 0;
  border-bottom: 1px solid #383938; }
/* --------------------------------------------------------------------------
 SMALL CAPS
 -----------------------------------------------------------------------------*/
.masthead .category-row a, .small-caps {
  text-transform: uppercase;
  line-height: 2;
  letter-spacing: 0.1rem;
  font-family: 'GT Walsheim Bold', sans-serif;
  font-size: 1.6rem;
  color: #ba6b39; }
  @media (max-width: 768px) {
  .masthead .category-row a, .small-caps {
    font-size: 1.2rem; } }
/* --------------------------------------------------------------------------
 OTHER TEXT
 -----------------------------------------------------------------------------*/
.desc, .desc-sans {
  line-height: 1.625;
  font-size: 1.6rem; }
  @media (max-width: 768px) {
  .desc, .desc-sans {
    font-size: 1.3rem;
    line-height: 1.4; } }
  .desc a, .desc-sans a {
    color: #ba6b39;
    text-decoration: underline; }
  .desc b, .desc-sans b, .desc strong, .desc-sans strong {
    font-weight: normal; }
  .desc em, .desc-sans em {
    font-style: normal; }

.desc {
  font-family: 'GT Super Display Regular', serif; }
  .desc em {
    font-family: 'GT Super Display Regular Italic', serif; }

[class*="desc-sans"] {
  font-family: 'GT Walsheim Regular', sans-serif; }
  [class*="desc-sans"] em {
    font-family: 'GT Walsheim Regular Italic', sans-serif; }

.desc-sm {
  font-family: 'GT Super Display Bold', serif;
  font-weight: normal; }

.desc-sans-sm, .desc-sm {
  line-height: 1.5;
  font-size: 1.2rem; }
  @media (max-width: 768px) {
  .desc-sans-sm, .desc-sm {
    font-size: 1rem; } }
/* --------------------------------------------------------------------------
 Responsive Design
 -----------------------------------------------------------------------------*/
@media (max-width: 1024px) and (min-width: 769px) {
  html {
    font-size: 8px;
    font-size: 0.8vw; } }

@media (max-width: 768px) {
  html {
    font-size: 2.5vw; } }

@media only screen and (max-width: 768px) and (min-width: 580px) {
  html {
    font-size: 1.8vw; } }

@media only screen and (min-width: 1800px) {
  html {
    font-size: 13px; } }
/* --------------------------------------------------------------------------
 Layout Helpers
 -----------------------------------------------------------------------------*/
.hide {
  display: none; }
/* --------------------------------------------------------------------------
 Default Box sizing, Overflow Styles
 -----------------------------------------------------------------------------*/
* {
  box-sizing: border-box; }

body, html {
  overflow-x: hidden; }
/* --------------------------------------------------------------------------
 Vertical & Horizontal Alignment
 -----------------------------------------------------------------------------*/
/* Center vertically  */
/* Center vertically and horizontally */
.split-aligner {
  display: flex;
  justify-content: space-between; }

.end-aligner {
  display: flex;
  justify-content: flex-end;
  flex-direction: column; }
/* --------------------------------------------------------------------------
 Centered Layout
 -----------------------------------------------------------------------------*/
[class*="container"] {
  width: 100%; }

.container {
  padding-left: 14rem;
  padding-right: 14rem; }

@media (max-width: 1024px) and (min-width: 769px) {
    [class*="container"] {
      padding-left: 8rem;
      padding-right: 8rem; } }
  @media (max-width: 768px) {
  [class*="container"] {
    padding-left: 2.6rem;
    padding-right: 2.6rem; } }
  [class*="container"].right-only {
    padding-left: 0; }
  [class*="container"].left-only {
    padding-right: 0; }

.container-xs, .masthead .featured-caption {
  max-width: 76.8rem;
  margin-left: auto;
  margin-right: auto; }

.container-sm {
  max-width: 86.4rem;
  margin-left: auto;
  margin-right: auto; }

.container-md {
  max-width: 96.4rem;
  margin-left: auto;
  margin-right: auto; }

.padded {
  padding-top: 6.5rem;
  padding-bottom: 7rem; }
  @media (max-width: 1024px) and (min-width: 769px) {
  .padded {
    padding-top: 12rem;
    padding-bottom: 12rem; } }
  @media (max-width: 768px) {
  .padded {
    padding-top: 9.5rem;
    padding-bottom: 9.5rem; } }
/* --------------------------------------------------------------------------
 Sticky Footer
 -----------------------------------------------------------------------------*/
.cssgrid {
  /* Add to the body element */
  /* Add to the main element (or whichever element includes your site content and not the footer) */ }
  .cssgrid .site {
    display: flex;
    min-height: 100vh;
    flex-direction: column; }
  .cssgrid .site-content {
    flex: 1; }
/* --------------------------------------------------------------------------
 Clearfix helpers (for floats)
 -----------------------------------------------------------------------------*/
.clearfix:after, .no-cssgrid [class^="cols"]:after, .clearfix:before, .no-cssgrid [class^="cols"]:before {
  display: table;
  content: " "; }

.clearfix:after, .no-cssgrid [class^="cols"]:after {
  clear: both; }

.clearer {
  content: "";
  display: table;
  clear: both; }
/* --------------------------------------------------------------------------
 Sizing - Gutters
 -----------------------------------------------------------------------------*/
/* Used in partials/_layout.scss */
/* Used in partials/_layout.scss */
/* --------------------------------------------------------------------------
 Grid Styles
 -----------------------------------------------------------------------------*/
[class^="cols"] {
  display: grid;
  grid-template-rows: auto;
  grid-column-gap: 2rem;
  grid-row-gap: 1.5rem;
  grid-template-columns: 1fr; }

@media (min-width: 769px) {
    .cols-2 {
      grid-template-columns: repeat(2, 1fr); } }

@media (min-width: 769px) {
    .cols-3 {
      grid-template-columns: repeat(3, 1fr); } }

@media (min-width: 769px) {
    .cols-4 {
      grid-template-columns: repeat(2, 1fr); } }
  @media (min-width: 1025px) {
  .cols-4 {
    grid-template-columns: repeat(4, 1fr); } }

@media (min-width: 769px) {
    .cols-1-2 {
      grid-template-columns: 1fr 2fr; } }

@media (min-width: 769px) {
    .cols-2-1 {
      grid-template-columns: 2fr 1fr; } }
/* ⭐  Styles for IE & OLDER BROWSERS that don't support CSS Grid using Modernizr's .no-cssgrid class  */
.no-cssgrid {
  /* Use floats for older browsers to turn elements into columns for screens larger than the tablet-up breakpoint in variables.scss */ }
  .no-cssgrid [class^="cols"] > * {
    margin-bottom: 1.5rem; }
  @media (min-width: 769px) {
  .no-cssgrid [class^="cols"] {
    margin-left: -2rem; }
    .no-cssgrid [class^="cols"] > * {
      float: left;
      margin-left: 2rem; }

    .no-cssgrid .cols-2 > * {
      width: calc(50% - 2rem); }

    .no-cssgrid .cols-3 > * {
      width: calc(33.3% - 2rem); }

    .no-cssgrid .cols-4 > * {
      width: calc(25% - 2rem); }

    .no-cssgrid .cols-1-2 > :first-of-type {
      width: calc(33.33% - 2rem); }

    .no-cssgrid .cols-1-2 > :last-of-type {
      width: calc(66.66% - 2rem); }

    .no-cssgrid .cols-2-1 > :first-of-type {
      width: calc(66.66% - 2rem); }

    .no-cssgrid .cols-2-1 > :last-of-type {
      width: calc(33.33% - 2rem); } }
/* --------------------------------------------------------------------------
 Buttons
 -----------------------------------------------------------------------------*/
.button, button {
  cursor: pointer;
  border: 0;
  border-radius: 0;
  transition: all 0.3s ease-in-out;
  font-family: inherit;
  outline: none;
  display: inline-block;
  /* background-color: transparent;  👋🏻 NOTE: Make sure to add a bg color for Firefox & Safari or use transparent for no bg color*/ }
  /* --------------------------------------------------------------------------
   Inputs
   -----------------------------------------------------------------------------*/

input, textarea {
  border: none;
  outline: none;
  display: block;
  width: 100%;
  border-bottom: 1px solid #383938;
  background-color: transparent;
  box-shadow: none;
  padding-bottom: 4px;
  letter-spacing: 0.05rem; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #412e22; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #412e22; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #412e22; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #412e22; }
/* --------------------------------------------------------------------------
 Validation
 -----------------------------------------------------------------------------*/
.validation-wrapper {
  position: relative;
  margin-bottom: 40px; }
  @media (max-width: 768px) {
  .validation-wrapper {
    margin-bottom: 30px; } }

.error {
  font-size: 1.1rem;
  margin-top: 0;
  position: absolute;
  bottom: -16px;
  transform: translateY(100%); }

.thanks {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.9);
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .thanks h1 {
    margin-bottom: 0;
    margin-top: 0; }
  .thanks p {
    margin-bottom: 3rem; }
/* --------------------------------------------------------------------------
 Body Open Mobile Nav Styles
 -----------------------------------------------------------------------------*/
.open-mobile-nav {
  /* Prevent the body from scrolling under the mobile navigation */
  position: fixed;
  overflow: hidden; }
/* --------------------------------------------------------------------------
 Header Navigation Styles
 -----------------------------------------------------------------------------*/
.nav-wrapper nav a, .nav-wrapper nav a:visited {
  color: #302219;
  margin-left: 18px; }
  .nav-wrapper nav a:hover {
    color: #000; }
  .nav-wrapper nav .current-page {
    /* Styles for the currently active link */ }
/* ==============   MOBILE NAV STYLES  ============== */
@media (max-width: 768px) {
  .nav-wrapper nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    z-index: 200;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .nav-wrapper nav a {
      display: block;
      margin: 0;
      font-size: 2rem;
      line-height: 2; } }
/* ==============   OPEN MOBILE NAV  ============== */
.open-mobile-nav {
  /* Styles for when the user clicks the hamburger icon */ }
  .open-mobile-nav .nav-wrapper nav {
    opacity: 1;
    visibility: visible; }
/* --------------------------------------------------------------------------
 Hamburger Icon styles
 -----------------------------------------------------------------------------*/
.hamburger {
  width: 30px;
  height: 15px;
  position: absolute;
  right: 30px;
  top: 15px;
  display: none;
  z-index: 201;
  cursor: pointer; }
  .hamburger span {
    display: block;
    border-bottom: 2px solid #383938;
    width: 100%;
    position: absolute;
    height: 1px;
    transition: all 0.2s ease-in-out; }
  .hamburger span:first-of-type {
    top: 0; }
  .hamburger span:nth-of-type(2) {
    top: 50%; }
  .hamburger span:last-of-type {
    top: 100%; }
/* ==============   HAMBURGER MOBILE STYLES  ============== */
@media (max-width: 768px) {
  .hamburger {
    display: block;
    position: fixed; } }
/* ==============   OPEN MOBILE NAV HAMBURGER STYLES  ============== */
.open-mobile-nav {
  /* Rotate lines to form an X */ }
  .open-mobile-nav .hamburger {
    position: fixed; }
    .open-mobile-nav .hamburger span:first-of-type {
      top: 50%;
      transform: rotate(-45deg); }
    .open-mobile-nav .hamburger span:nth-of-type(2) {
      transform: translateX(-20%);
      opacity: 0; }
    .open-mobile-nav .hamburger span:last-of-type {
      top: 50%;
      transform: rotate(45deg); }
/* --------------------------------------------------------------------------
 Footer Navigation Styles
 -----------------------------------------------------------------------------*/
footer nav a, footer nav a:visited {
  color: #4c4b4b;
  margin-left: 18px; }
  footer nav a:hover {
    color: #191818; }
/* --------------------------------------------------------------------------
 LK Site Credit
 -----------------------------------------------------------------------------*/
.site-credit {
  font-size: 1.2rem;
  text-transform: uppercase;
  display: block;
  text-align: right; }
/* --------------------------------------------------------------------------
 Section Comment
 -----------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------
 GENERAL
 -----------------------------------------------------------------------------*/
.masthead {
  padding-top: 8rem;
  padding-bottom: 8rem;
  text-align: center; }
/* --------------------------------------------------------------------------
 CATEGORY
 -----------------------------------------------------------------------------*/
.masthead .category-row {
  margin-bottom: 5.2rem; }
  @media (max-width: 768px) {
  .masthead .category-row {
    margin-bottom: 1.8rem; } }
  /* --------------------------------------------------------------------------
   TITLE
   -----------------------------------------------------------------------------*/

.masthead .main-heading {
  max-width: 86.4rem;
  margin-left: auto;
  margin-right: auto; }
/* --------------------------------------------------------------------------
 AUTHOR
 -----------------------------------------------------------------------------*/
.masthead .author {
  color: #ba6b39;
  margin-bottom: 4rem; }
  @media (max-width: 768px) {
  .masthead .author {
    margin-bottom: 1.4rem; } }
/* --------------------------------------------------------------------------
 CAPTION
 -----------------------------------------------------------------------------*/
.masthead .caption {
  max-width: 60.4rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4.8rem; }
  @media (max-width: 768px) {
  .masthead .caption {
    margin-bottom: 1.8rem; } }
/* --------------------------------------------------------------------------
 IMAGE / VIDEO
 -----------------------------------------------------------------------------*/
.masthead .featured-image img {
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .masthead .featured-image + .featured-caption {
    margin-top: 4.18rem; }
    @media (max-width: 768px) {
  .masthead .featured-image + .featured-caption {
    margin-top: 1.2rem; } }
  /* --------------------------------------------------------------------------
   CREDITS
   -----------------------------------------------------------------------------*/
/*# sourceMappingURL=data:application/json,%7B%22version%22%3A3%2C%22sources%22%3A%5B%22scss%5C%2Fstyle.scss%22%2C%22scss%5C%2Fpartials%5C%2F_reset.scss%22%2C%22scss%5C%2Fpartials%5C%2F_images.scss%22%2C%22scss%5C%2Fpartials%5C%2F_fonts.scss%22%2C%22scss%5C%2Fpartials%5C%2F_variables.scss%22%2C%22scss%5C%2Fpartials%5C%2F_typography.scss%22%2C%22scss%5C%2Fpartials%5C%2F_layout.scss%22%2C%22scss%5C%2Fpartials%5C%2F_grid.scss%22%2C%22scss%5C%2Fpartials%5C%2F_forms.scss%22%2C%22scss%5C%2Fpartials%5C%2F_nav.scss%22%2C%22scss%5C%2Fpartials%5C%2Ffooter.scss%22%2C%22scss%5C%2Fsections%5C%2Fmasthead.scss%22%5D%2C%22names%22%3A%5B%5D%2C%22mappings%22%3A%22AACD%3B%3B%3BGAAA%3BACIC%3BAAAA%3B%3B%3B%3B%3B2BAAA%2CEAAA%3BADJD%2CiDAAA%3BAC6FC%3BAAAA%2CiBAAA%2CEAAA%3BAAAA%3BAAaA%3BAAAA%2CiBAAA%2CEAAA%3BAAAA%3BAAGA%3BAAAA%2CmBAAA%2CEAAA%3BAAAA%3BAAIA%3BAAAA%2CeAAA%2CEAAA%3BAAAA%3BAAIA%3BAAAA%3BgBAAA%2CEAAA%3BAAAA%3BAAOA%3BAAAA%3BoBAAA%2CEAAA%3BAD5HD%3B%3BgEAAA%3BAEEC%3BAAAA%3B%3BeAAA%2CEAAA%3BAAAA%3BAAMA%3BAAAA%2CcAAA%2CEAAA%3BAAAA%3BAAIA%3BAAAA%2CaAAA%2CEAAA%3BAAAA%3BAAIA%3BAAAA%3B%3B%3BaAAA%2CEAAA%3BAAAA%3BAAQA%3BAAAA%3B%3B%3B%3B%3BkCAAA%2CEAAA%3BAFxBD%3B%3BgEAAA%3BAEoCC%3BAAAA%3B%3B%3B%3B%3B%3B2BAAA%2CEAAA%3BAAAA%3BAAUA%3BAAAA%2CaAAA%2CEAAA%3BAAAA%3BAAIA%3BAAAA%3B%3B%3B%3B%3B%3BuBAAA%2CEAAA%3BAAAA%3BAAUA%3BAAAA%2CaAAA%2CEAAA%3BAAAA%3BAAIA%3BAAAA%3B%3B%3BkCAAA%2CEAAA%3BAFhED%3B%3BgEAAA%3BAE0EC%3BAAAA%3B%3B%3B%3B%3B%3BsBAAA%2CEAAA%3BAASE%3BAAAA%2CeAAA%2CEAAA%3BAAGA%3BAAAA%3B%3B%3B%3B%3B%3BeAAA%2CEAAA%3BAASA%3BAAAA%3B%3B%3B%3B%3B%3B%3B%3B%3B%3ByCAAA%2CEAAA%3BAAcE%3BAAAA%3ByBAAA%2CEAAA%3BAF7GL%3B%3BgFAAA%3BAGEC%3BAAAA%3B%2BQAAA%2CEAAA%3BAAAA%3BAAKA%3BAAAA%3BuSAAA%2CEAAA%3BAAAA%3BAAKA%3BAAAA%3BuRAAA%2CEAAA%3BAAAA%3BAAKA%3BAAAA%3B2RAAA%2CEAAA%3BAAAA%3BAAKA%3BAAAA%3BmTAAA%2CEAAA%3BAAAA%3BAAKA%3BAAAA%3BuRAAA%2CEAAA%3BAAAA%3BAAKA%3BAAAA%3BmTAAA%2CEAAA%3BAAAA%3BAAKA%3BAAAA%3B2QAAA%2CEAAA%3BAAAA%3BAAKA%3BAAAA%3BuSAAA%2CEAAA%3BAH1CD%3B%3BgFAAA%3BAAAA%3B%3BgFAAA%3BAAAA%3B%3BgFAAA%3BAAAA%3B%3BgFAAA%3BAAAA%3B%3BgFAAA%3BAIuCC%3BAAAA%3BiBAAA%2CEAAA%3BAAIE%3BAAAA%2CmBAAA%2CEAAA%3BAJ3CH%3B%3BgFAAA%3BAAAA%3B%3BgFAAA%3BAIiHC%3BAAAA%2CgBAAA%2CEAAA%3BAAxDE%3BAAAA%3BAAAA%2CmBAAA%2CEAAA%2CEAAA%3BAAAA%3BAAAA%3BAAAA%3BAAAA%2CoBAAA%2CEAAA%2CEAAA%3BAJzDH%3B%3BgFAAA%3BAKEC%3BAAAA%3B4BAAA%2CEAAA%3BAAAA%3BAAKA%3BAAAA%3B%3B%3B%3B%3B%3B%3BsCAAA%2CEAAA%3BADkDE%3BAAAA%3BAAAA%2CsBAAA%2CEAAA%2CEAAA%3BAJzDH%3B%3BgFAAA%3BAKwBC%3BAAAA%3B%3BmCAAA%2CEAAA%3BAAAA%3BAAMA%3BAAAA%2CiBAAA%2CEAAA%3BAL9BD%3B%3BgFAAA%3BAKsCC%3BAAAA%3B%3BqBAAA%2CEAAA%3BAAAA%3BAAWA%3BAAAA%3B%3ByBAAA%2CEAAA%3BADQE%3BAAAA%3BAAAA%3BsBAAA%2CEAAA%2CEAAA%3BAAAA%3BACGF%3BAAAA%3B%3BsBAAA%2CEAAA%3BADHE%3BAAAA%3BAAAA%3BsBAAA%2CEAAA%2CEAAA%3BAAAA%3BAJzDH%3B%3BgFAAA%3BAAAA%3BAK4EC%3BAAAA%3BmCAAA%2CEAAA%3BAL5ED%3B%3BgFAAA%3BAKoFC%3BAAAA%3B%3B%3B%3B%3BiBAAA%2CEAAA%3BAD3BE%3BAAAA%3BAAAA%2CsBAAA%2CEAAA%2CEAAA%3BAJzDH%3B%3BgFAAA%3BAKoGC%3BAAAA%3BoBAAA%2CEAAA%3BAD3CE%3BAAAA%3BAAAA%3BqBAAA%2CEAAA%2CEAAA%3BACmDA%3BAAAA%3B%2BBAAA%2CEAAA%3BAAIA%3BAAAA%2CwBAAA%2CEAAA%3BAAIA%3BAAAA%2CuBAAA%2CEAAA%3BAAAA%3BAAKF%3BAAAA%2CiDAAA%2CEAAA%3BAAEE%3BAAAA%2C0DAAA%2CEAAA%3BAAAA%3BAAKF%3BAAAA%2CiDAAA%2CEAAA%3BAAEE%3BAAAA%2C0DAAA%2CEAAA%3BAAAA%3BAAMF%3BAAAA%3BsBAAA%2CEAAA%3BAAAA%3BAAKA%3BAAAA%3BoBAAA%2CEAAA%3BADpFE%3BAAAA%3BAAAA%2CoBAAA%2CEAAA%2CEAAA%3BAJzDH%3B%3BgFAAA%3BAIqEG%3BACqFA%3BAAAA%3BqBAAA%2CEAAA%2CEAAA%3BAAAA%3BADjGA%3BACwGA%3BAAAA%2CqBAAA%2CEAAA%2CEAAA%3BAAAA%3BAAKF%3BAACE%3BAAAA%2CqBAAA%2CEAAA%2CEAAA%3BAAAA%3BAAKF%3BAACE%3BAAAA%2CoBAAA%2CEAAA%2CEAAA%3BAL7KH%3B%3BgFAAA%3BAMEC%3BAAAA%2CgBAAA%2CEAAA%3BANFD%3B%3BgFAAA%3BAMSC%3BAAAA%2CyBAAA%2CEAAA%3BAAAA%3BAAIA%3BAAAA%2CqBAAA%2CEAAA%3BANbD%3B%3BgFAAA%3BAAAA%2CwBAAA%3BAAAA%2CwCAAA%3BAMoDC%3BAAAA%3BiCAAA%2CEAAA%3BAAAA%3BAAKA%3BAAAA%3B%3ByBAAA%2CEAAA%3BANzDD%3B%3BgFAAA%3BAMqEC%3BAAAA%2CcAAA%2CEAAA%3BAAAA%3BAAIA%3BAAAA%3BuBAAA%2CEAAA%3BAAAA%3BAFJE%3BAAAA%3BAAAA%3B0BAAA%2CEAAA%2CEAAA%3BAAZA%3BAAAA%3BAAAA%3B0BAAA%2CEAAA%2CEAAA%3BAE8BD%3BAAAA%2CoBAAA%2CEAAA%3BAAGA%3BAAAA%2CqBAAA%2CEAAA%3BAAAA%3BAAKD%3BAAAA%3B%3BqBAAA%2CEAAA%3BAAAA%3BAAMA%3BAAAA%3B%3BqBAAA%2CEAAA%3BAAAA%3BAAMA%3BAAAA%3B%3BqBAAA%2CEAAA%3BAAAA%3BAAMA%3BAAAA%3BuBAAA%2CEAAA%3BAF5CE%3BAAAA%3BAAAA%3B0BAAA%2CEAAA%2CEAAA%3BAAZA%3BAAAA%3BAAAA%3B2BAAA%2CEAAA%2CEAAA%3BAJzDH%3B%3BgFAAA%3BAMiIC%3BAAAA%3BoGAAA%2CEAAA%3BAAEC%3BAAAA%3B%3B2BAAA%2CEAAA%3BAAOA%3BAAAA%2CYAAA%2CEAAA%3BAN1IF%3B%3BgFAAA%3BAMkJC%3BAAAA%3BeAAA%2CEAAA%3BAAAA%3BAAMA%3BAAAA%2CcAAA%2CEAAA%3BAAAA%3BAAIA%3BAAAA%3B%3BcAAA%2CEAAA%3BAN5JD%3B%3BgFAAA%3BAAAA%2CmCAAA%3BAAAA%2CmCAAA%3BAAAA%3B%3BgFAAA%3BAOUC%3BAAAA%3B%3B%3B%3B6BAAA%2CEAAA%3BAAAA%3BAHiEE%3BAAAA%3BAAAA%2C4CAAA%2CEAAA%2CEAAA%3BAAAA%3BAAAA%3BAAAA%3BAAAA%2C4CAAA%2CEAAA%2CEAAA%3BAAAA%3BAAAA%3BAAAA%3BAAAA%2C4CAAA%2CEAAA%2CEAAA%3BAAMA%3BAAAA%3BAAAA%2C0CAAA%2CEAAA%2CEAAA%3BAAAA%3BAANA%3BAAAA%3BAAAA%2CqCAAA%2CEAAA%2CEAAA%3BAAAA%3BAAAA%3BAAAA%3BAAAA%2CqCAAA%2CEAAA%2CEAAA%3BAJ3EH%2C0GAAA%3BAOkDC%3BAAAA%2CsIAAA%2CEAAA%3BAAGE%3BAAAA%2C0BAAA%2CEAAA%3BAHsBA%3BAGfA%3BAAAA%2CuBAAA%2CEAAA%3BAAEC%3BAAAA%3BwBAAA%2CEAAA%3BAAAA%3BAAMD%3BAAAA%2C8BAAA%2CEAAA%3BAAAA%3BAAGA%3BAAAA%2CgCAAA%2CEAAA%3BAAAA%3BAAGA%3BAAAA%2C8BAAA%2CEAAA%3BAAAA%3BAAGA%3BAAAA%2CiCAAA%2CEAAA%3BAAAA%3BAAGA%3BAAAA%2CiCAAA%2CEAAA%3BAAAA%3BAAGA%3BAAAA%2CiCAAA%2CEAAA%3BAAAA%3BAAGA%3BAAAA%2CiCAAA%2CEAAA%2CEAAA%3BAPtFH%3B%3BgFAAA%3BAQEC%3BAAAA%3B%3B%3B%3B%3B%3B%3ByIAAA%2CEAAA%3BARFD%3B%3BkFAAA%3BAAAA%3BAQqBC%3BAAAA%3B%3B%3B%3B%3B%3B%3B%3B0BAAA%2CEAAA%3BAAAA%3BAAcA%3BAAAA%3BiBAAA%2CEAAA%3BAAAA%3BAAGA%3BAAAA%3BiBAAA%2CEAAA%3BAAAA%3BAAGA%3BAAAA%3BiBAAA%2CEAAA%3BAAAA%3BAAGA%3BAAAA%3BiBAAA%2CEAAA%3BAR5CD%3B%3BgFAAA%3BAQoDC%3BAAAA%3BsBAAA%2CEAAA%3BAJKE%3BAAAA%3BAAAA%2CwBAAA%2CEAAA%2CEAAA%3BAAAA%3BAIEF%3BAAAA%3B%3B%3B%3B8BAAA%2CEAAA%3BAAAA%3BAAQA%3BAAAA%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3ByBAAA%2CEAAA%3BAAmBC%3BAAAA%3BkBAAA%2CEAAA%3BAAIA%3BAAAA%2CwBAAA%2CEAAA%3BAR1FF%3B%3BgFAAA%3BASEC%3BAAAA%3B%3BmBAAA%2CEAAA%3BATFD%3B%3BgFAAA%3BASYE%3BAAAA%3BoBAAA%2CEAAA%3BAAKA%3BAAAA%2CgBAAA%2CEAAA%3BAAGA%3BAAAA%2C8CAAA%2CEAAA%3BATpBF%2CwDAAA%3BAIyDG%3BAK9BD%3BAAAA%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3BwBAAA%2CEAAA%3BAAeC%3BAAAA%3B%3B%3BqBAAA%2CEAAA%2CEAAA%3BAT1CH%2CsDAAA%3BASoDC%3BAAAA%2C0DAAA%2CEAAA%3BAACC%3BAAAA%3BwBAAA%2CEAAA%3BATrDF%3B%3BgFAAA%3BASiEC%3BAAAA%3B%3B%3B%3B%3B%3B%3BkBAAA%2CEAAA%3BAASC%3BAAAA%3B%3B%3B%3B%3BqCAAA%2CEAAA%3BAAQA%3BAAAA%2CWAAA%2CEAAA%3BAAGA%3BAAAA%2CaAAA%2CEAAA%3BAAGA%3BAAAA%2CcAAA%2CEAAA%3BATxFF%2C8DAAA%3BAIyDG%3BAKsCD%3BAAAA%3BoBAAA%2CEAAA%2CEAAA%3BAT%5C%2FFF%2CuEAAA%3BASsGC%3BAAAA%2CiCAAA%2CEAAA%3BAAEC%3BAAAA%2CoBAAA%2CEAAA%3BAAEC%3BAAAA%3BgCAAA%2CEAAA%3BAAIA%3BAAAA%3BiBAAA%2CEAAA%3BAAIA%3BAAAA%3B%2BBAAA%2CEAAA%3BATlHH%3B%3BgFAAA%3BAUGE%3BAAAA%3BoBAAA%2CEAAA%3BAAKA%3BAAAA%2CmBAAA%2CEAAA%3BAVRF%3B%3BgFAAA%3BAUgBC%3BAAAA%3B%3B%3BoBAAA%2CEAAA%3BAVhBD%3B%3BgFAAA%3BAAAA%3B%3BgFAAA%3BAWEC%3BAAAA%3B%3BqBAAA%2CEAAA%3BAXFD%3B%3BgFAAA%3BAWWC%3BAAAA%2CwBAAA%2CEAAA%3BAP8CE%3BAAAA%3BAAAA%2C0BAAA%2CEAAA%2CEAAA%3BAJzDH%3B%3BkFAAA%3BAAAA%3BAWwBC%3BAAAA%3B%3BqBAAA%2CEAAA%3BAXxBD%3B%3BgFAAA%3BAWiCC%3BAAAA%3BsBAAA%2CEAAA%3BAPwBE%3BAAAA%3BAAAA%2C0BAAA%2CEAAA%2CEAAA%3BAJzDH%3B%3BgFAAA%3BAW2CC%3BAAAA%3B%3B%3BwBAAA%2CEAAA%3BAPcE%3BAAAA%3BAAAA%2C0BAAA%2CEAAA%2CEAAA%3BAJzDH%3B%3BgFAAA%3BAWyDK%3BAAAA%3B%3BqBAAA%2CEAAA%3BAAMF%3BAAAA%2CwBAAA%2CEAAA%3BAPNA%3BAAAA%3BAAAA%2CuBAAA%2CEAAA%2CEAAA%3BAJzDH%3B%3BkFAAA%22%7D */