/* --------------------------------------------------------------------------
Buttons
-----------------------------------------------------------------------------*/
.btn,
button {
	cursor: pointer;
	border: 0;
	border-radius: 0;
	transition: all 0.3s ease-in-out;
	font-family: inherit;
	outline: none;
	display: inline-block;
	background-color: transparent;
	position: relative;
	overflow: hidden;
	.text-span {
		position: relative;
		z-index: 1;
	}
	&:hover {}
}

.btn--bordered {
	border: 1px solid $primaryTextColor;
	font-size: 1.4rem;
	text-align: center;
	padding: 0.8rem 1rem;
	width: 10rem;
	border-radius: 30rem;
	font-family: $superMed;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		background: $primaryTextColor;
		transform: translateX(-100%);
		transition: all 0.3s ease-in-out;
	}
	&:hover {
		color: $white;
		&:before {
			transform: none;
		}
	}
}

button.text-only {
	font-family: inherit;
	font-size: inherit;
	background: transparent;
	padding: 0;
	margin: 0;
}

/* --------------------------------------------------------------------------
Inputs
-----------------------------------------------------------------------------*/
input,
textarea {
	border: none;
	outline: none;
	display: block;
	width: 100%;
	border-bottom: 1px solid $borderColor;
	background-color: transparent;
	box-shadow: none;
	padding-bottom: 4px;
	letter-spacing: 0.05rem;
}

::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: lighten($primaryTextColor, 5%);
}
::-moz-placeholder {
	/* Firefox 19+ */
	color: lighten($primaryTextColor, 5%);
}
:-ms-input-placeholder {
	/* IE 10+ */
	color: lighten($primaryTextColor, 5%);
}
:-moz-placeholder {
	/* Firefox 18- */
	color: lighten($primaryTextColor, 5%);
}

/* --------------------------------------------------------------------------
Validation
-----------------------------------------------------------------------------*/
.validation-wrapper {
	position: relative;
	margin-bottom: 40px;
	@include mobile-only {
		margin-bottom: 30px;
	}
}
.error {
	font-size: 1.1rem;
	margin-top: 0;
	position: absolute;
	bottom: -16px;
	transform: translateY(100%);
}

.thanks {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: rgba(255, 255, 255, .9);
	display: none;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	h1 {
		margin-bottom: 0;
		margin-top: 0;
	}
	p {
		margin-bottom: 3rem;
	}
}
