/*-----------------------------------------------------------
Images
-------------------------------------------------------------*/
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.bg-image-wrapper {
  position: relative;
  overflow: hidden;
}

.bg-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

.icon-orange {
  .update-fill {
    fill: $orange;
  }
  .update-stroke {
    stroke: $orange;
  }
}

/*-----------------------------------------------------------
Responsive Videos
-------------------------------------------------------------*/
.video-wrapper {
  position: relative;
  padding-bottom: 56.3%;
  height: 0;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  margin-bottom: 2rem;
  // Used for placeholder image
  .placeholder {
    z-index: 1;
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  .video-play-button {
    background: rgba(38, 57, 88, .85);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    transition: opacity 0.3s ease-in-out;
  }
  &.playing {
    .video-play-button {
      opacity: 0;
      pointer-events: none;
    }
  }
}
