/* --------------------------------------------------------------------------
Layout Helpers
-----------------------------------------------------------------------------*/
.hide {
	display: none;
}

/* --------------------------------------------------------------------------
Default Box sizing, Overflow Styles
-----------------------------------------------------------------------------*/
* {
	box-sizing: border-box;
}

body,
html {
	overflow-x: hidden;
}

/* --------------------------------------------------------------------------
Vertical & Horizontal Alignment
-----------------------------------------------------------------------------*/
/* Center vertically  */
%v-aligner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

/* Center vertically and horizontally */
%v-h-aligner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.split-aligner {
	display: flex;
	justify-content: space-between;
}

.end-aligner {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
}

/* --------------------------------------------------------------------------
Centered Layout
-----------------------------------------------------------------------------*/
$containerPadding: 14rem;
// $containerFullPadding: 14rem;

[class*="container"] {
	width: 100%;
}

.container {
	padding-left: $containerPadding;
	padding-right: $containerPadding;
}

[class*="container"] {
	@include tablet-only {
		padding-left: 8rem;
		padding-right: 8rem;
	}
	@include mobile-only {
		padding-left: 2.6rem;
		padding-right: 2.6rem;
	}
	&.right-only {
		padding-left: 0;
	}
	&.left-only {
		padding-right: 0;
	}
}

.container-xs {
	max-width: 76.8rem;
	margin-left: auto;
	margin-right: auto;
}

.container-sm {
	max-width: 86.4rem;
	margin-left: auto;
	margin-right: auto;
}

.container-md {
	max-width: 96.4rem;
	margin-left: auto;
	margin-right: auto;
}

.padded {
	padding-top: 6.5rem;
	padding-bottom: 7rem;
	@include tablet-only {
		padding-top: 12rem;
		padding-bottom: 12rem;
	}
	@include mobile-only {
		padding-top: 9.5rem;
		padding-bottom: 9.5rem;
	}
}

/* --------------------------------------------------------------------------
Sticky Footer
-----------------------------------------------------------------------------*/
.cssgrid {
	/* Add to the body element */
	.site {
		display: flex;
		min-height: 100vh;
		flex-direction: column;
	}

	/* Add to the main element (or whichever element includes your site content and not the footer) */
	.site-content {
		flex: 1;
	}
}

/* --------------------------------------------------------------------------
Clearfix helpers (for floats)
-----------------------------------------------------------------------------*/
.clearfix:after,
.clearfix:before {
	display: table;
	content: " ";
}

.clearfix:after {
	clear: both;
}

.clearer {
	content: "";
	display: table;
	clear: both;
}
