
/* --------------------------------------------------------------------------
  NEWSLETTER SIGNUP - GENERAL
-----------------------------------------------------------------------------*/
.newsletter-signup {
  background: $green;
  color: white;
  text-align: center;
  position: relative;
  overflow: hidden;
  .h1 {
    margin-bottom: 3rem;
  }
  .desc-sans {
    margin-bottom: 3rem;
  }
  .inner {
    max-width: 76.8rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 3;
  }
  .shape-left,
  .shape-right {
    position: absolute;
  }
  .shape-right {
    bottom: 0;
    right: 0;
    width: 18.4rem;
    @include mobile-only {
      transform: translate(30%, 30%);
    }
  }
  .shape-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 18.8rem;
    @include mobile-only {
      transform: translate(-30%, -30%);
    }
  }
}

/* --------------------------------------------------------------------------
  NEWSLETTER SIGNUP - MAILCHIMP
-----------------------------------------------------------------------------*/
$inputSize: 3.4rem;
$inputFont: $superMed;
$inputFontWeight: 400;
$bottomBorder: 4px solid $orange;
$bottomBorderMobile: 2px solid $orange;
.newsletter-signup #mc_embed_signup {
  background: transparent;
  #mc_embed_signup_scroll {
    @include tablet-up {
      display: flex;
      border-bottom: $bottomBorder;
      align-items: flex-end;
    }
  }
  .mc-field-group input {
    border: none;
    padding: 0;
    margin: 0;
    font-size: $inputSize;
    color: white;
    text-align: center;
    display: inline-block;
    width: 100%;
    padding-bottom: 1.2rem;
    font-family: $inputFont;
    font-weight: $inputFontWeight;
    text-transform: lowercase;
    @include tablet-up {
      // Offset for button
      padding-left: 4.1rem;
    }
    @include mobile-only {
      font-size: 1.8rem;
      border-bottom: $bottomBorderMobile;
    }
  }
  .mc-field-group {
    width: 100%;
    padding: 0;
    margin: 0;
    min-height: unset;
    height: auto;
  }
  #mce-responses {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
  }

  .icon-btn {
    margin: 0 0 1.2rem;
    @include mobile-only {
      margin: 3rem auto 0;
    }
    svg {
      width: 8.2rem;
      @include mobile-only {
        width: 6rem;

      }
    }

  }
  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: white;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: white;
  }
  :-ms-input-placeholder {
    /* IE 10+ */
    color: white;
  }
  :-moz-placeholder {
    /* Firefox 18- */
    color: white;
  }
}
