/* --------------------------------------------------------------------------
Body Open Mobile Nav Styles
-----------------------------------------------------------------------------*/
.open-mobile-nav {
  /* Prevent the body from scrolling under the mobile navigation */
  position: fixed;
  overflow: hidden;
}

/* --------------------------------------------------------------------------
Header Navigation Styles
-----------------------------------------------------------------------------*/
$bottomPadding: 1.2rem;
.nav-wrapper {
  padding-top: 4rem;
  padding-bottom: $bottomPadding;
  a,
  a:visited {
    color: $orange;
    margin-left: 3rem;
    margin-right: 3rem;
  }
  a:hover {
    color: $orange;
    text-decoration: underline;
  }

}

.nav-wrapper {
  nav {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    transform: translateY(-.3rem);
    a {
      font-family: $walsheimMed;
      font-weight: 400;
      letter-spacing: 0.03rem;
    }
  }
  .search {
    padding-left: 8rem;
    transform: translateY(.2rem);
  }
  .menu {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    .current-page {
      /* Styles for the currently active link */

    }
  }
  .nav-icon {
    width: 1.6rem;
    height: 1.6rem;
    display: inline-block;
    margin-left: 0.3rem;
    transform: translateY(.3rem);
    svg {
      display: inline-block;
      max-width: 100%;
    }
  }
}

/* SUB MENU ================== */
.nav-wrapper {
  position: relative;
  z-index: 4;
  .menu-item {
    position: relative;
    &:hover {
      .sub-menu {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
      }
    }
    &:first-of-type .sub-menu::before {
      background: $gold;
    }
    &:nth-of-type(2) .sub-menu::before {
      background: $green;
    }
    &:nth-of-type(3) .sub-menu::before {
      background: $lightBlue;
    }
  }

  .sub-menu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    width: 30rem;
    transform: translate(-50%, 100%);
    padding: 4rem 2rem 1rem;
    text-align: center;
    transition: all 0.3s ease-in-out;
    &::before {
      content: '';
      display: block;
      position: absolute;
      bottom: -.2rem;
      left: 0;
      width: 100%;
      height: calc(100% - #{$bottomPadding});
    }
    a {
      color: white;
      margin: 0;
      &:hover {
        color: white;
      }
    }
    li {
      margin-bottom: 3rem;
    }
  }
}

/* LOGO WRAPPER ================== */
.nav-wrapper .logo-wrapper {
  text-align: center;
  h1 {
    margin-bottom: 3rem;
    line-height: 1;
    a:hover {
      opacity: 0.8;
      text-decoration: none;
    }
  }
}

/* ==============   MOBILE NAV STYLES  ============== */
@include mobile-only {
  .nav-wrapper nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .95);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    z-index: 200;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a {
      display: block;
      margin: 0;
      font-size: 2rem;
      line-height: 2;
    }
  }
}

/* ==============   OPEN MOBILE NAV  ============== */
.open-mobile-nav {
  .nav-wrapper nav {
    /* Styles for when the user clicks the hamburger icon */
    opacity: 1;
    visibility: visible;
  }
}

/* --------------------------------------------------------------------------
Hamburger Icon styles
-----------------------------------------------------------------------------*/
.hamburger {
  width: 30px;
  height: 15px;
  position: absolute;
  right: 30px;
  top: 15px;
  display: none;
  z-index: 201;
  cursor: pointer;
  span {
    display: block;
    border-bottom: 2px solid $borderColor;
    width: 100%;
    position: absolute;
    height: 1px;
    transition: all 0.2s ease-in-out;
  }
  span:first-of-type {
    top: 0;
  }
  span:nth-of-type(2) {
    top: 50%;
  }
  span:last-of-type {
    top: 100%;
  }
}

/* ==============   HAMBURGER MOBILE STYLES  ============== */
@include mobile-only {
  .hamburger {
    display: block;
    position: fixed;
  }
}

/* ==============   OPEN MOBILE NAV HAMBURGER STYLES  ============== */
.open-mobile-nav {
  /* Rotate lines to form an X */
  .hamburger {
    position: fixed;
    span:first-of-type {
      top: 50%;
      transform: rotate(-45deg);
    }
    span:nth-of-type(2) {
      transform: translateX(-20%);
      opacity: 0;
    }
    span:last-of-type {
      top: 50%;
      transform: rotate(45deg);
    }
  }
}
