/* --------------------------------------------------------------------------
Typography
-----------------------------------------------------------------------------*/
html {
  font-size: $baseSize;
  font-size: 0.6944444444444vw;
}

body {
  background-color: $primaryBgColor;
  font-family: $bodyTextFont;
  font-size: $bodyTextFontSize;
  color: $primaryTextColor;
  line-height: $bodyTextLineHeight;
  letter-spacing: $bodyTextLetterSpacing;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  @include mobile-only {
    font-size: 1.3rem;
  }
}

/* --------------------------------------------------------------------------
Anchors
-----------------------------------------------------------------------------*/
a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

a:active,
a:hover {
  color: inherit;
}

/* --------------------------------------------------------------------------
Headings
-----------------------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headingFont;
  font-weight: normal;
  font-style: normal;
}

.h1,
h1 {
  font-size: 4.6rem;
  line-height: 1.217;
  margin-bottom: 3.33rem;
  @include mobile-only {
    margin-bottom: 1.4rem;
    font-size: 2.6rem;
  }
}

.h2,
h2 {
  font-size: 3.4rem;
  line-height: 1.176;
  margin-bottom: 3.6rem;
  @include mobile-only {
    margin-bottom: 2.4rem;
    font-size: 2.1rem;
  }
}

.h3,
h3 {
  font-size: 2.4rem;
  line-height: 1.417;
  margin-bottom: 3rem;
  @include mobile-only {
    margin-bottom: 1.4rem;
    font-size: 2.1rem;
  }
}

/* --------------------------------------------------------------------------
Rules
-----------------------------------------------------------------------------*/
hr {
  border: 0;
  border-bottom: $border;
}

/* --------------------------------------------------------------------------
  SMALL CAPS
-----------------------------------------------------------------------------*/
%smallCaps,
.small-caps {
  text-transform: uppercase;
  line-height: 2;
  letter-spacing: 0.1rem;
  font-family: $walsheimBold;
  font-size: 1.6rem;
  color: $orange;
  @include mobile-only {
    font-size: 1.2rem;
  }
}

%xsCaps,
.xs-caps {
  text-transform: uppercase;
  line-height: 2;
  letter-spacing: 0.1rem;
  font-family: $walsheimBold;
  font-size: 1.2rem;
  @include mobile-only {
    font-size: 1rem;
  }
}

/* --------------------------------------------------------------------------
OTHER TEXT
-----------------------------------------------------------------------------*/
.desc,
.desc-sans {
  line-height: 1.625;
  font-size: 1.6rem;
  @include mobile-only {
    font-size: 1.3rem;
    line-height: 1.4;
  }
  a {
    color: $orange;
    text-decoration: underline;
  }
  b,
  strong {
    font-weight: normal;
  }
  em {
    font-style: normal;
  }
  p + p {
    margin-top: 2.4rem;
    @include mobile-only {
      margin-top: 1.4rem;
    }
  }
}

.desc {
  font-family: $superReg;
  em {
    font-family: $superRegItalic;
  }
}

[class*="desc-sans"] {
  font-family: $walsheimReg;
  em {
    font-family: $walsheimRegItalic;
  }

}

.desc-sm {
  font-family: $superBold;
  font-weight: normal;
}

.desc-sans-sm,
.desc-sm {
  line-height: 1.5;
  font-size: 1.2rem;
  @include mobile-only {
    font-size: 1rem;
  }
}

/* --------------------------------------------------------------------------
Responsive Design
-----------------------------------------------------------------------------*/
@include tablet-only {
  html {
    font-size: $tabletBaseSize;
    font-size: 0.8vw;
  }
}

@include mobile-only {
  html {
    font-size: 2.5vw;
  }
}

@media only screen and (max-width: 768px) and (min-width: 580px) {
  html {
    font-size: 1.8vw;
  }
}

@media only screen and (min-width: 1800px) {
  html {
    font-size: 13px;
  }
}
