/* --------------------------------------------------------------------------
Colors
-----------------------------------------------------------------------------*/
$black: #2D333B;
$darkGrey: #2D333B;
$white: #FFF;
$cream: #F7F5F1;
$slate: #7D756C;
$darkBrown: #302219;
$brown: #432F21;
$lightGreyBg: #F7F5F1;
$orange: #BA6B39;
$gold: #C19115;
$green: #3B5641;
$lightBlue: #B8D2CF;
$lightBlueText: #8AA9A9;
$lightPink: #F6D5D0;

$primaryBgColor: $white;
$primaryTextColor: $darkBrown;
$primaryAnchorColor: $darkBrown;

$secondaryBgColor: $cream;
$secondaryTextColor: $brown;

$borderColor: #383938;
$border: 1px solid $borderColor;

$ease: cubic-bezier(0.25, 0.46, 0.45, 0.94);

/* --------------------------------------------------------------------------
Font Sizes
-----------------------------------------------------------------------------*/
$baseSize: 10px;
$tabletBaseSize: 8px;
$mobileBaseSize: 6.15388px;

$bodyTextFontSize: 1.6rem;

/* --------------------------------------------------------------------------
Font Styles
-----------------------------------------------------------------------------*/
$bodyTextLineHeight: 1.2;
$bodyTextLetterSpacing: 0;

/* --------------------------------------------------------------------------
Mixins
-----------------------------------------------------------------------------*/
%secondarySection,
.callout-section {
  background-color: $secondaryBgColor;
  color: $secondaryTextColor;
  a {
    color: $secondaryTextColor;
  }
}

/* --------------------------------------------------------------------------
Responsive Mixins
-----------------------------------------------------------------------------*/
$tablet-width: 768px;
$desktop-width: 1024px;
$desktop-lg-width: 1250px;
$monitor-width: 1440px;
$xl-monitor-width: 1919px;

@mixin mobile-only {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin tablet-down {
  @media (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin tablet-only {
  @media (max-width: #{$desktop-width}) and (min-width: #{$tablet-width + 1}) {
    @content;
  }
}

@mixin tablet-up {
  @media (min-width: #{$tablet-width + 1}) {
    @content;
  }
}

@mixin desktop-up {
  @media (min-width: #{$desktop-width + 1}) {
    @content;
  }
}

@mixin desktop-sm-down {
  @media (max-width: #{$desktop-lg-width}) {
    @content;
  }
}

@mixin desktop-sm-only {
  @media (min-width: #{$desktop-width + 1}) and (max-width: #{$desktop-lg-width}) {
    @content;
  }
}

@mixin desktop-lg-up {
  @media (min-width: #{$desktop-lg-width + 1}) {
    @content;
  }
}

@mixin monitor-up {
  @media (min-width: #{$monitor-width + 1}) {
    @content;
  }
}

@mixin xl-monitor-up {
  @media (min-width: #{$xl-monitor-width + 1}) {
    @content;
  }
}

/* --------------------------------------------------------------------------
Hide / Show
-----------------------------------------------------------------------------*/
.hide-mobile {
  @include mobile-only {
    display: none;
  }
}

.show-monitor {
  display: none;
  @include xl-monitor-up {
    display: none;
  }
}

.show-mobile {
  display: none;
  @include mobile-only {
    display: block;
  }
}
