/* --------------------------------------------------------------------------
Footer Navigation Styles
-----------------------------------------------------------------------------*/
footer {
	color: $orange;
	background: $lightGreyBg;
	@include mobile-only {
		text-align: center;
	}
	a,
	a:visited {
		color: $orange;
	}

	.desc-sans {
		max-width: 50rem;
		padding-top: 0.4rem;
	}
	nav a {
		display: block;
		@extend .small-caps;
	}
	.cols-2 {
		@include mobile-only {
			display: block;
			margin-top: 3rem;
		}
	}
	.social-links {
		@include tablet-up {
			justify-content: flex-end;
		}
		img {
			width: 2rem;
			margin-left: 1.6rem;
			@include mobile-only {
				margin-left: 0.8rem;
				margin-right: 0.8rem;

			}
		}
		a:first-of-type img {
			margin-left: 0;
			@include mobile-only {
				margin-left: 0.8rem;
				margin-right: 0.8rem;

			}
		}
		a {
			padding: 0;
		}
	}
	h4 {
		font-family: $superBold;
		em {
			font-family: $superBoldItalic;
		}
	}
	h5 {
		margin-bottom: 1rem;
		@include tablet-up {
			text-align: right;

		}
	}

}

.end-col {
	@include tablet-up {
		justify-content: flex-end;
		display: flex;
	}
	.inner {
		display: inline-block;
	}
	h5 {
		text-align: center;
	}
}
