/* --------------------------------------------------------------------------
Footer Navigation Styles
-----------------------------------------------------------------------------*/
footer {
	color: $orange;
	background: $lightGreyBg;
	a,
	a:visited {
		color: $orange;
	}

	.desc-sans {
		max-width: 50rem;
		padding-top: 0.4rem;
	}
	nav a {
		display: block;
		@extend .small-caps;
	}
	.social-links {
		justify-content: flex-end;
		img {
			width: 2rem;
			margin-left: 1.6rem;
		}
		a {
			padding: 0;
		}
	}
	h5 {
		text-align: right;
		margin-bottom: 1rem;
	}

}

/* --------------------------------------------------------------------------
LK Site Credit
-----------------------------------------------------------------------------*/
.site-credit {
	font-size: 1.2rem;
	text-transform: uppercase;
	display: block;
	text-align: right;
}
