
@import 'partials/reset';
@import 'partials/fonts';
@import 'partials/variables';
@import 'partials/typography';
@import 'partials/images';
@import 'partials/layout';
@import 'partials/grid';
@import 'partials/animation';
@import 'partials/forms';
@import 'partials/nav';
@import 'partials/footer';
@import 'partials/mailchimp';
@import 'partials/email-popup';

/* --------------------------------------------------------------------------
Section Comment
-----------------------------------------------------------------------------*/
@import 'sections/masthead';
@import 'sections/article-blocks';
@import 'sections/sidebar';
@import 'sections/home';
@import 'sections/about';
@import 'sections/category';

.banner {
  background: $gold;
  padding-top: 4rem;
  padding-bottom: 4rem;
  color: white;
  text-align: center;
  position: relative;
  h2 {
    margin: 0;
    position: relative;
    z-index: 3;
  }
  .shape-right-sm {
    position: absolute;
    bottom: 0;
    right: 0;
    width: auto;
    height: 100%;
    @include mobile-only {
      transform: translateX(60%);
    }
  }
  .shape-left-sm {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
    @include mobile-only {
      transform: translateX(-60%);
    }
  }
}

.full-width-ad {
  img {
    width: 100%;
  }
}

/* --------------------------------------------------------------------------
  ADA
-----------------------------------------------------------------------------*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* added line */
  border: 0;
}

.skip-link {
  position: absolute;
  top: -400px;
  left: 0;
  padding: 0.8rem;
  z-index: 400;
  background: white;
  &:focus {
    top: 0;
  }
}

/* --------------------------------------------------------------------------
  404 Page
-----------------------------------------------------------------------------*/
.not-found {
  text-align: center;
  h2 {
    margin-bottom: 5rem;
  }
  .inner {
    max-width: 65rem;
    margin-left: auto;
    margin-right: auto;
  }
  img {
    margin-left: auto;
    margin-right: auto;
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
  }
}
