
@import 'partials/reset';
@import 'partials/fonts';
@import 'partials/variables';
@import 'partials/typography';
@import 'partials/images';
@import 'partials/layout';
@import 'partials/grid';
@import 'partials/animation';
@import 'partials/forms';
@import 'partials/nav';
@import 'partials/footer';
@import 'partials/mailchimp';

/* --------------------------------------------------------------------------
Section Comment
-----------------------------------------------------------------------------*/
@import 'sections/masthead';
@import 'sections/article-blocks';
@import 'sections/sidebar';
@import 'sections/home';
@import 'sections/about';
@import 'sections/category';

.banner {
  background: $gold;
  padding-top: 4rem;
  padding-bottom: 4rem;
  color: white;
  text-align: center;
  position: relative;
  h2 {
    margin: 0;
    position: relative;
    z-index: 3;
  }
  .shape-right-sm {
    position: absolute;
    bottom: 0;
    right: 0;
    width: auto;
    height: 100%;
    @include mobile-only {
      transform: translateX(60%);
    }
  }
  .shape-left-sm {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
    @include mobile-only {
      transform: translateX(-60%);
    }
  }
}

.full-width-ad {
  img {
    width: 100%;
  }
}
